.secondnavMenu li a{
    color: rgb(36, 36, 36);
    font-size: 1.4rem;
    margin-inline: 10px;
}
.secondnavMenu li a:hover{
    color: black;
}


.searchInput{
    border-radius: 5px;
    border: 2px solid rgb(37, 35, 35);
    padding: 2px 8px;
}
.activeMenu{
    border-bottom: 3px solid rgb(174, 177, 174);
  }

@media screen and (max-width:768px) {
    .navbar-nav {
        display: flex !important;
        flex-direction: row !important;
    }

}


@media screen and (max-width:414px) {
    .secondnavMenu{
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
        text-align: end;
    }
    .searchInput{
    width: 100%;
    margin-bottom: .5rem;
    margin-inline: 1rem;
    }
}